@import '~variables';

.container {
  :global(.carousel-item) {
    overflow: hidden;
    height: 400px;
  }
}

.realtyInfo {
  line-height: 1.7rem;
}

.contactForm {
  border-top: 1px solid $gray-lighter;

}

.profilePicture {
  border-radius: 100%;
  overflow: hidden;
  width: 100px;
  height: 100px;

  >img {
    width: 100%;
  }

}
