@import "~variables";

.container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.jumbo {
  background-color: $body-bg;
  text-align: center;

  hr {
    border-color: rgba(255, 255, 255, 0.1);
  }
}
