{
  "rules": {
    "react/no-multi-comp": "off",
    "react/no-find-dom-node": "off",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "no-unused-vars": "off",
    "no-trailing-spaces": "off",
    "no-return-assign": "off",
    "global-require": "off",
    "react/forbid-prop-types": "off",
    "react/no-array-index-key": "off",
    "react/no-string-refs": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/img-has-alt": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-else-return": "off",
    "no-case-declarations": "off",
    "no-param-reassign": "off",
    "no-continue": "off",
    "no-bitwise": "off",
    "max-len": "off",
  }
}
