@import '~bootstrap/scss/functions', '~bootstrap/scss/variables';


//
// Fonts
//
$font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';

$spacer-y:        2rem;
$gray:            #464a4c;
$gray-dark:       #292b2c;
$gray-light:      #636c72;
$gray-lighter:    #eceeef;
$gray-lightest:   #f7f7f9;
