.basicMarker {
  position: absolute;
  width: 20px;
  height: 20px;
  left: -10px;
  top: -10px;
  border: 5px solid #f44336;
  border-radius: 20px;
  background: white;
  color: #3f51b5;
  padding: 4px;
}