@import "~variables";

.container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chartRow {
  padding-left: 15px;
  padding-right: 15px;
}

.chartWrapper {
  padding: 0;
  border: 1px solid #292b2c;
  border-bottom: none;
}

.legendSquare {
  width: 8px;
  height: 8px;
  display: inline-block;
}

.navbar {
  border-bottom: 1px solid $body-border;
  min-height: $navbar-height;
}

.h90 {
  height: 90% !important;
}

.h10 {
  height: 10% !important;
}
