@import "~variables";

.container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chartRow {
  padding-left: 15px;
  padding-right: 15px;
}

.chartWrapper {
  padding: 0;
  border: 1px solid #292b2c;
  border-bottom: none;
}

.legendSquare {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-top: 0.3rem;
}

.navbar {
  border-bottom: 1px solid $body-border;
  min-height: 28px;
}
