@import '../../../scss/variables';

.sideMenu {
  flex-direction: column;
  list-style: none;
  width: 80px;
  height: 100vh;
  background: lighten($body-bg, 10);
  padding: 0;
  margin: 0;
  border-right: 1px solid $body-border;

  .brand_logo {
    color: white !important;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.sideMenu__item {
  display: block;
  padding: 0;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid #333;

  & .active, &:focus, &:active {
    color: $sideMenuItemActiveColor;
  }
}

.sideMenu__item--active > a {
  color: lighten($sideMenuItemActiveColor, 10);
}

.sideMenu__item__link {
  padding: 1rem;
  color: $sideMenuItemColor;
  cursor: pointer;
  display: block;
  text-decoration: none !important;

  &:hover {
    color: $sideMenuItemHover;
    text-decoration: none;
  }

  &:focus, &:active {
    color: $sideMenuItemColor;
  }
}

.sideMenu__item--menuToggleArrow {
  text-align: center;
  color: white;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: none;
}
