@import '../../../scss/variables';

.sideMenu {
  flex-direction: column;
  list-style: none;
  width: 80px;
  height: 100vh;
  background: lighten($body-bg, 10);
  padding: 0;
  margin: 0;
  border-right: 1px solid $body-border;

  .brand_logo {
    color: white !important;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.sideMenu__item {
  display: block;
  padding: 0;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid #333;
}

.sideMenu__item__link {
  padding: 1rem;
  color: $sideMenuItemColor;
  cursor: pointer;
  display: block;
  text-decoration: none !important;

  &:hover {
    color: $sideMenuItemHover;
    text-decoration: none;
  }
}

.isActive {
  color: $sideMenuItemActiveColor !important;
}
