@import "~variables";

.container {
  max-width: 100%;
  overflow: hidden;
  height: 100%;
}

.inputValuesDropdown {
  min-width: 200px;

  & > input {
    background: none;
  }
}

.invalidInput {
  input:focus {
    border-color: red !important;
  }
}

.divider {
  border-right: 1px solid $optionsBarBorderColor;
}
