@import "~variables";

html, body{
  background: $body-bg;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 11px;
  color: white;
}

:global(.h1, .h2, .h3, .h4, .h5, .h6),
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
